button {
    color: green;
}

/* universal selectors */
* [lang^="en"] {
    color: aqua;
}

*.warning {
    color: red;
  }

  /* type selector */
  span {
    background-color: skyblue;
  }

  /* class selector */
  .red {
    color: #f33;
  }
  .fancy {
    font-weight: bold;
    text-shadow: 4px 4px 3px #77f;
  }